.bx--search {
    width: auto;
    align-self: flex-end;
    margin-left: 650px;
    
}

.bx--search-input {
    width: 300px;
    height: 48px;
    background-color: #aaa9a9;
}

.bx--header__action {
    padding : 5px
}

.bx--grid--custom{
    padding-right: 0px !important;
    margin-left:5px
  }

  .footer-style{
    width:"100%";
    background-color:"black";
    height:"50px"
  }

  .footer-style{
      height : 100px

  }